:root{
    --primory: #081158;
}

body{
    font-family: 'Open Sans';
}


.btnbg{
    background-color:#081158 !important;
    transition: 0.5s;
}
.btnbg :hover{
    background-color: white !important;
    border: none !important;
    color: #081158 !important;
}


/* baneer */

.carousel{
    padding-top: 180px;
    margin-bottom: 100px;
}

.carousel::before{
    content: '';
    background-image: url(../img/bg-shape.svg);
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-position: bottom left;
    background-repeat: no-repeat;
    
}


.carousel-inner h6{
    background-color: rgba(251, 178, 68, 0.2);
    color:#FBB244;
    font-size: 10px;
}
.carousel-inner h1{
    color: #081158;
    font-family: 'Montserrat';
    font-size: 40px;
}



.carousel-inner p + a{
      background-color: #081158;
      color: white ;
}

.carousel-inner p + a + a{
    background-color: #fff;
    color: #081158 ;
    border-radius: 50%;
    border: 1px #081158 solid !important;
}

/* FEATUERS */

.featuer-title h6{
    background-color: rgba(251, 178, 68, 0.2);
    color:#FBB244;
    font-size: 10px;
}
.featuer-title h2{
    color: #081158;
    font-family: 'Montserrat';
    font-size: 40px;   
}

